<a href="https://colab.research.google.com/github/ArunanKrishnan/Data-masking/blob/main/mask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Collecting Faker
  Downloading Faker-17.3.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 28.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-17.3.0

In [2]:
import pandas as pd
demo = pd.read_excel('input data for masking.xlsx')
demo

,Employee ID,Name,User ID,Gender,Age,Phone Number,Date of Birth,Driver's License Number,Passport Number,Bank Account Number,Email address,Weight,D.NO,Street name,Pin code
0,57861,Ralph Kendrick,dem55,O,35,7758956347,1988-05-20,US2320217789012,A3903463,15432964088,kend634@gmail.com,89.74,c-20,Park Avenue,625016
1,18953,Dorothy Leadbetter,har83,M,20,9150357745,2003-07-07,US1420201474654,B5238914,11653894257,lead774@gmail.cmm,56.56,E-85,Washing Tone street,624902
2,33291,Greg Rm,kja96,F,18,7865489007,2005-10-04,US8520228548916,P8539510,12546729086,graig634@gmail.com,66.50,S-60,Crosby Street,623917
3,96272,Craig King,jsm77,F,44,9374674890,1979-08-16,US3420211174590,A8239058,26789259789,king489@gmail.cfm,94.69,W-30,Fifth Avenue street,623908
4,7195,Linda Behn,pnx31,M,65,7689988542,1958-09-29,US2120213382901,U6452890,85372897256,behn854@gmail.cmm,70.86,D-9,Broadway,536894
5,94757,Liane Lavin,jdb81,F,43,9347897140,1980-07-08,US9020226739034,N6349025,67387098734,lavi714@gmail.cfm,80.78,F-8,St Mark's,456789
6,48167,Mary James,bwg34,O,57,9445678912,1966-04-13,US1120194590763,S7450928,52890156238,jame891@gmail.com,61.65,G-9,Madison Avenue,345678
7,50730,Kenneth Bass,fsk57,F,45,9946771966,1978-02-28,US2720237320165,P6428904,62296086118,bass196@gmail.cfm,70.74,C-22,NYC street,536478
8,46122,Matthew Lara,rdv50,M,28,9994034782,1995-03-25,US3420212890123,C6328942,45396802167,lara478@gmail.cmm,50.67,D-59,Jones Street,657383
9,78912,Greig Smith,grs10,O,32,9387361103,1991-01-01,US2720196219054,F7501358,16724390568,smit110@gmail.com,68.39,R-20,Walls Street,643589

In [5]:
from pandas.io.formats.info import DataFrameInfoPrinter
import pandas as pd

# Read data from Excel file
df = pd.read_excel('input data for masking.xlsx')

# Manipulate the data 

# For ID - multiple the real value with '2' we can use any random number
#df['ID'] = df['ID'] * 2

# For name - using * to hide the char after 3 index
#df['Name']=df['Name'].str[:3].str.ljust(len(df['Name']),'*')
from faker import Faker

fake = Faker()

# Create a new column with masked names
df['Name'] = df['Name'].apply(lambda x: fake.name() if pd.notnull(x) else None)

# Drop the original 'Name' column
#df = df.drop('Name', axis=1)

# Rename the new column to 'Name'
#df = df.rename(columns={'Masked Name': 'Name'})

# For User id - converting alps into upper case and hide the num
df['User ID'] = df['User ID'].apply(lambda x: str(x).upper())

df['User ID']=df['User ID'].str[:3].str.ljust(len(df['User ID']),'#')

# For Age - assigned some value for particular range 
def some(Age):
  
  if Age>20 and Age<30:
    return "brba324"
  elif Age>30 and Age<40:
    return "prbr487"
  elif Age>40 and Age<50:
    return "stth610"
  else:
    return "mohe240"

df['Age']=df['Age'].apply(some)

# For Gender - imported faker to use the fake names by importing


fake = Faker()

# Create a mapping of original values to fake names
mapping = {
    'M': fake.first_name_male(),
    'F': fake.last_name_female(),
    'O': 'Unknown'
    
}

# Replace the values in the 'Gender' column with fake names
df['Gender'] = df['Gender'].replace(mapping)


# Write data back to Excel file
writer = pd.ExcelWriter('output_data.xlsx', engine='openpyxl') 
df.to_excel(writer, index=False)
writer.save()

In [6]:
df

,Employee ID,Name,User ID,Gender,Age,Phone Number,Date of Birth,Driver's License Number,Passport Number,Bank Account Number,Email address,Weight,D.NO,Street name,Pin code
0,57861,Brian Cummings,DEM#######,Unknown,prbr487,7758956347,1988-05-20,US2320217789012,A3903463,15432964088,kend634@gmail.com,89.74,c-20,Park Avenue,625016
1,18953,Courtney Gray,HAR#######,Cody,mohe240,9150357745,2003-07-07,US1420201474654,B5238914,11653894257,lead774@gmail.cmm,56.56,E-85,Washing Tone street,624902
2,33291,Christopher Fletcher,KJA#######,Russell,mohe240,7865489007,2005-10-04,US8520228548916,P8539510,12546729086,graig634@gmail.com,66.50,S-60,Crosby Street,623917
3,96272,Ronnie Perez,JSM#######,Russell,stth610,9374674890,1979-08-16,US3420211174590,A8239058,26789259789,king489@gmail.cfm,94.69,W-30,Fifth Avenue street,623908
4,7195,Brandon Clark,PNX#######,Cody,mohe240,7689988542,1958-09-29,US2120213382901,U6452890,85372897256,behn854@gmail.cmm,70.86,D-9,Broadway,536894
5,94757,Blake Johnson,JDB#######,Russell,stth610,9347897140,1980-07-08,US9020226739034,N6349025,67387098734,lavi714@gmail.cfm,80.78,F-8,St Mark's,456789
6,48167,Jason Jacobs PhD,BWG#######,Unknown,mohe240,9445678912,1966-04-13,US1120194590763,S7450928,52890156238,jame891@gmail.com,61.65,G-9,Madison Avenue,345678
7,50730,Stephen Torres,FSK#######,Russell,stth610,9946771966,1978-02-28,US2720237320165,P6428904,62296086118,bass196@gmail.cfm,70.74,C-22,NYC street,536478
8,46122,Ronald Davis,RDV#######,Cody,brba324,9994034782,1995-03-25,US3420212890123,C6328942,45396802167,lara478@gmail.cmm,50.67,D-59,Jones Street,657383
9,78912,David Schmidt,GRS#######,Unknown,prbr487,9387361103,1991-01-01,US2720196219054,F7501358,16724390568,smit110@gmail.com,68.39,R-20,Walls Street,643589